{
        debug
        admin off
        log {
                output stdout
        }
}
#domain# {
        encode gzip
        tls #tlsmail# {
                protocols tls1.2 tls1.3
                ciphers TLS_ECDHE_ECDSA_WITH_AES_256_GCM_SHA384 TLS_ECDHE_ECDSA_WITH_CHACHA20_POLY1305_SHA256
                curves x25519
        }
        @websockets {
                header Connection *Upgrade*
                header Upgrade websocket
        }
        handle @websockets {
                reverse_proxy 127.0.0.1:10000
        }
        handle {
                reverse_proxy #reverse_proxy_host# {
                        trusted_proxies 0.0.0.0/0
                        header_up Host {upstream_hostport}
                }
        }
}
